:root {
  /* Fonts */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-title-text-color: #ffffff;
  --secondary-text-color: #2196f3;
  --logo-text-color: #000000;
  --address-text-color: #ffffff 0.6;
  /* Background */
  --footer-background-color: #2f303a;
  --team-section-background-color: #f5f4fa;
  --hero-btn-active-color: #188ce8;
  --header-border-bottom-color: #ececec;
  --portfolio-content-border-color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.nav-list,
.header-contacts,
.features-list,
.what-are-we-list,
.our-team-list,
.address-list,
.filter-list,
.portfolio-content-list {
  list-style: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding: 94px 15px;
}
.display-block {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* header */
.header,
.nav {
  display: flex;
  align-items: center;
}
header {
  border-bottom: 1px solid var(--header-border-bottom-color);
}

.nav-list {
  width: 281px;
  display: flex;
  margin-right: 344px;
  justify-content: space-between;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--logo-text-color);
  text-decoration: none;
  text-transform: capitalize;
}
.logo-color {
  color: var(--secondary-text-color);
}

.nav-list-item,
.header-contacts-item-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  text-decoration: none;
}
.header-contacts-item-link {
  color: var(--primary-text-color);
}
.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active,
.header-contacts-item-link:hover,
.header-contacts-item-link:focus,
.header-contacts-item-link:active {
  color: var(--secondary-text-color);
}
/* main */
/* hero */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-title-text-color);
  background-color: burlywood;
}
.hero-container {
  width: 696px;
  text-align: center;
  margin: auto;
}
.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-title-text-color);
  background-color: var(--secondary-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-active-color);
}
/* features */
.hidden-title {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.features-list {
  display: flex;
}
.features-list-item {
  width: calc((100%-30 * 3) / 4);
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-item-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}
/* What are we, our team */
.what-are-we-title,
.our-team-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.what-are-we-list {
  display: flex;
}
.what-are-we-list-item {
  display: block;
}
.what-are-we-list-item:not(:last-child) {
  margin-right: 30px;
}
.our-team {
  background-color: var(--team-section-background-color);
}
.our-team-list {
  display: flex;
  gap: 30px;
}
.our-team-list-item {
  background: var(--secondary-title-text-color);

  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}
.image-our-team {
  margin-bottom: 30px;
}
.our-team-list-item-heading {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.our-team-list-item-text {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
/* footer */
address {
  font-style: inherit;
}
.contacts {
  background-color: var(--footer-background-color);
}

.footer-logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;

  color: var(--secondary-title-text-color);
}
.logo-footer-color {
  color: var(--secondary-text-color);
}
.address-list {
  padding-bottom: 60px;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.map-link {
  text-decoration: none;
  color: var(--secondary-title-text-color);
}
.mail-link,
.tel-link {
  text-decoration: none;
  color: var(--address-text-color);
}
/* portfolio */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.all-btn {
  padding: 7px 26px;
}
.secondary-btn {
  padding: 7px 23px;
}
.filter-list-button {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--team-section-background-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.filter-list-button:hover,
.filter-list-button:focus,
.filter-list-button:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
  background-color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-content-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-content-list-item {
  margin: 15px;

  outline: 1px solid var(--portfolio-content-border-color);
}
.portfolio-content-list-item-heading {
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-content-list-item-text {
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.image-portfolio {
  margin-bottom: 20px;
}
